.cover__link {
  padding: 245px 312px;
  display: block;
  text-decoration: none;
  background-color: rgba(42, 44, 47, 0.3);
  cursor: url('../../../images/cursor/Pointer.svg'), pointer;
}

.cover__link:hover {
  background-color: rgba(42, 44, 47, 0.8);
}

@media screen and (max-width: 1024px) {
  .cover__link {
    padding: 195px 232px;
  }
}

@media screen and (max-width: 768px) {
  .cover__link {
    padding: 115px 104px;
  }
}

@media screen and (max-width: 426px) {
  .cover__link {
    padding: 33px 16px;
  }
}