.photo-grid {
  max-width: 1184px;
  margin: 92px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  width: 100%;
  box-sizing: border-box;
}


@media screen and (max-width: 1184px) {
  .photo-grid {
    max-width: 884px;
  }
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    max-width: 928px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(4, 1fr);
    gap: 14px;
  }
}

@media screen and (max-width: 928px) {
  .photo-grid {
    max-width: 614px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    max-width: 720px;
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    grid-template-rows: repeat(6, 1fr);
    gap: 16px;
    margin-top: 88px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 720px) {
  .photo-grid {
    max-width: 352px;
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    column-gap: 0;
    row-gap: 16px;
  }
}

@media screen and (max-width: 425px) {
  .photo-grid {
    max-width: 288px;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    grid-template-rows: repeat(12, 1fr);
    row-gap: 12px;
    margin-top: 61px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    max-width: 288px;
  }
}