.places {
  max-width: 984px;
  width: 100%;
  margin: 0 auto;
  padding-left: 0;
  display: grid;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 720px;
  }
}

@media screen and (max-width: 425px) {
  .places {
    max-width: 320px;
    margin-top: 67px;
  }
}