.places {
  max-width: 984px;
  max-width: 100%;
  margin: 0;
  padding: 0 148px 0 148px;
  display: grid;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 928px;
    padding: 0 48px 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 720px;
    padding: 0 24px 0 24px;
  }
}

@media screen and (max-width: 605px) {
  .places {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: calc((100% - 340px) / 2);
    padding-right: calc((100% - 340px) / 2);
  }
}

@media screen and (max-width: 425px) {
  .places {
    max-width: 320px;
    margin-top: 67px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    padding: 0;
  }
}