.intro__list {
  max-width: 690px;
  min-height: 90px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #FFFFFF;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .intro__list {
    max-width: 720px;
  }
}

@media screen and (max-width: 425px)  {
  .intro__list {
    max-width: 288px;
  }
}
