.lead {
  max-width: 100%;
  padding: 56px 148px 92px 148px;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .lead {
    padding-top: 48px;
    padding-right: 48px;
    padding-left: 48px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    padding-top: 48px;
    padding-right: 0;
    padding-bottom: 88px;
    padding-left: 0;
  }
}

@media screen and (max-width: 550px) {
  .lead {
    max-width: 550px;
  }
}

@media screen and (max-width: 425px) {
  .lead {
    padding-right: 2px;
    padding-bottom: 66px;
    padding-left: 2px;
  }
}
