.lead {
  max-width: 984px;
  width: 100%;
  margin: 56px auto 92px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box; 
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
    margin: 48px 48px 92px 48px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 768px;
    margin: 48px 0 88px 0;
  }
}

@media screen and (max-width: 425px) {
  .lead {
    max-width: 320px;
    margin: 48px 2px 64px 2px;
  }
}
