.cover__subtitle {
  max-width: 360px;
  min-height: 66px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  color: #FFFFFF;
  margin: 32px auto 0 auto;
  text-align: center;
}

@media screen and (max-width: 425px) {
  .cover__subtitle {
    max-width: 288px;
    min-height: 48px;
    font-size: 14px;
    line-height: 114%;
    margin: 16px auto 0 auto;
  }
}