.cover__subtitle {
  max-width: 360px;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  color: #FFFFFF;
  margin: 32px auto 0 auto;
  text-align: center;
  position: relative;
  z-index: 1;
}

.cover__subtitle:hover {
  cursor: url('../../../images/cursor/Pointer.svg'), pointer; 
}

@media screen and (max-width: 425px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 114%;
    margin-top: 16px;
  }
}