.footer__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  font-style: normal;
  color: #FFFFFF;
  text-align: left;
  padding: 0;
  margin-left: 18px;
  text-decoration: none;
}

.footer__link:first-child {
  margin: 0;
}

.footer__link:hover {
  cursor: url('../../../images/cursor/Pointer.svg'), pointer;
  opacity: 0.8;
}

@media screen and (max-width: 712px) {
  .footer__link {
    font-size: 24px;
    line-height: 100%;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 32px;
  }
}