.place__paragraph {
  max-width: 484px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
  margin: 0;
}

.place__paragraph:nth-child(2) {
  margin-top: 26px;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    max-width: 456px;
    font-size: 18px;
  }
  .place__paragraph:nth-child(2) {
    margin-top: 27px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    max-width: 352px;
    font-size: 16px;
  }
  .place__paragraph:nth-child(2) {
    margin-top: 25px;
  }
}

@media screen and (max-width: 425px) {
  .place__paragraph {
    max-width: 288px;
    margin-left: 16px;
  }
  .place__paragraph:nth-child(2) {
    margin-top: 25px;
  }
}