.footer_copyright {
  max-width: 186px;
  min-height: 16px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  font-style: normal;
  color: #FFFFFF;
  margin: 0 0 0 auto;
}

@media screen and (max-width: 425px) {
  .footer_copyright {
    max-width: 186px;
    min-height: 14px;
    line-height: 100%;
    margin: 48px 0 24px 0;
  }
}
