.place__website-link {
  margin-top: 12px;
  color: #FFFFFF;
  text-decoration: underline;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
}

.place__website-link:hover {
  cursor: url('../../../../images/cursor/Pointer.svg'), pointer;
  opacity: 0.8;
}

@media screen and (max-width: 425px) {
  .place__website-link {
    margin-left: 16px;
  }
}