.intro {
  max-width: 690px;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0 442px 0 148px;
}

@media screen and (max-width: 1024px) {
  .intro {
    padding: 0 286px 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 0 24px 0 24px;
  }
}

@media screen and (max-width: 425px)  {
  .intro {
    padding: 0 16px 0 16px;
  }
}

