.intro {
  max-width: 690px;
  min-height: 429px;
  margin-left: 148px;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .intro {
    margin-left: 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    margin-left: 24px;
  }
}

@media screen and (max-width: 425px)  {
  .intro {
    max-width: 288px;
    margin-left: 16px;
  }
}

