.lead__subtitle {
  max-width: 640px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
  margin: 32px auto 64px auto;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin: 32px auto 56px auto;
  }
}

@media screen and (max-width: 426px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 150%;
    margin: 16px auto 40px auto;
  }
}