.cover {
  max-width: 1184px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 92px auto 0 auto;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    max-width: 768px;
    margin-top: 90px;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    max-width: 425px;
    margin-top: 66px;
  }
}