.cover__overlay {
  display: block;
  text-decoration: none;
  max-width: 1184px;
  min-height: 740px;
  width: 100%;
  background-image: url(../../../images/cover-trains_1280.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  position: relative;
  top: 0;
  left: 0;
}

.cover__overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(42, 44, 47, 0.3);
  width: 100%;
}
.cover__overlay:hover::after {
  background-color: rgba(42, 44, 47, 0.8);
  cursor: url('../../../images/cursor/Pointer.svg'), pointer;
}

@media screen and (max-width: 1024px) {
  .cover__overlay {
    max-width: 1024px;
    min-height: 640px;
    background-image: url(../../../images/cover-trains_1024.jpg);
  }
}

@media screen and (max-width: 768px) {
  .cover__overlay {
    max-width: 768px;
    min-height: 480px;
    background-image: url(../../../images/cover-trains_768.jpg);
  }
}

@media screen and (max-width: 425px) {
  .cover__overlay {
    max-width: 425px;
    min-height: 200px;
    background-image: url(../../../images/cover-trains_320.jpg);
  }
}