.place {
  max-width: 984px;
  width: 100%;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 460px 1fr;
  column-gap: 40px;
  row-gap: 48px;
  box-sizing: border-box;
}

.place:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    max-width: 928px;
    grid-template-columns: 440px 1fr;
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    max-width: 720px;
    grid-template-columns: 340px 1fr;
    column-gap: 28px;
    margin-bottom: 65px;
  }
}

@media screen and (max-width: 605px) {
  .place {
    max-width: 557px;
    grid-template-columns: 1fr;
    column-gap: 0;
  }
}

@media screen and (max-width: 581px) {
  .place {
    max-width: 533px;
    grid-template-columns: 340px;
    grid-template-rows: 1fr;
  }
}

@media screen and (max-width: 425px) {
  .place {
    max-width: 320px;
    grid-template-columns: 320px;
    row-gap: 32px;
    margin-bottom: 50px;
  }
}