.footer {
  max-width: 1184px;
  min-height: 18px;
  margin: 92px auto 24px auto;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: calc(100% - 96px);
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: calc(100% - 48px);
  }
}

@media screen and (max-width: 595px) {
  .footer {
    max-width: 296px;
    margin: 88px auto 24px 16px;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    margin: 64px auto 24px 16px;
  }
}