.footer {
  max-width: 1184px;
  min-height: 18px;
  margin: 92px auto 24px auto;
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
    width: calc(100%-96px);
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
    margin: 88px auto 24px auto;
    width: calc(100%-48px);
  }
}

@media screen and (max-width: 425px) {
  .footer {
    flex-direction: column;
    max-width: 186px;
    margin: 64px auto 0 16px;
    align-items: flex-start;
  }
}