.place__website {
  color: #AAAAAA;
  margin: 0;
  letter-spacing: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
}

@media screen and (max-width: 425px) {
  .place__website {
    margin-left: 16px;
    line-height: 100%;
  }
}