.intro__title {
  max-width: 690px;
  min-height: 58px;
  font-family: 'Inter';
  font-weight: 900;
  font-size: 54px;
  line-height: 107%;
  color: #FFFFFF;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .intro__title {
    max-width: 720px;
  }
}

@media screen and (max-width: 425px)  {
  .intro__title {
    max-width: 288px;
    min-height: 70px;
    font-size: 32px;
    line-height: 109%;
  }
}